
h1 {
    font-family: 'Star Jedi', arial;
    color: Yellow;
    font-size: 1em;
}

header {
  display: flex;
  justify-content: center;

}

main {
  /*display: grid;
  grid-template-columns: repeat (auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  */
  }

  button {
      font-size: 1.5rem;
      padding: 20 px;
      border-radius: 10% / 50%;
      background-color: Yellow;
  }

  body {
    background-image: url("space.jpg");
    background-color: #cccccc;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white; 
    font-size: 30px;
  }


.starwarsCharacter{
  float:left;
  padding: calc(10% / 6);
  width : 30%;
}